{% extends 'index.html' %}

{% block delete_user %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Удалить пользователя {{ user.first_name }} {{ user.last_name }}?</h4>
        <p>Проверьте необходимость удаления данных.</p>
        <hr>
        <p>Это действие нельзя отменить или восстановить удаленные данные.</p>

        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Удалить</button>
            <a href="/hr_all/">
                <button type="button" class="btn btn-primary">Отмена</button>
            </a>
        </form>
    </div>
{% endblock %}