{% extends 'index.html' %}

{% block home %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Active Projects</h1>
      </div>

{% for project in object_list %}
      <div class="row">
        <div class="col-2">{{project.name}}</div>
      </div>
{%  endfor %}



{#    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">#}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Active Tasks</h1>
      </div>

{% endblock %}