{% extends 'index.html' %}

{% block home %}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 ">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Active Projects</h1>
      </div>

    {% for project in projects %}
          <div class="row">
            <div class="col-2">{{project.name}}</div>
            <div class="col-2">{{project.start_date}}</div>
            <div class="col-2">{{project.end_date}}</div>
            <div class="col-2">{{project.project_manager}}</div>
            <div class="col-2">{{project.status}}</div>
          </div>
    {%  endfor %}
        <br style="margin-bottom:3cm;"> </br>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Active Tasks</h1>
      </div>

    {% for task in tasks %}
      <div class="row">
        <div class="col-2">{{task.name}}</div>
        <div class="col-2">{{task.start_date}}</div>
        <div class="col-2">{{task.end_date}}</div>
        <div class="col-2">{{task.responsible}}</div>
        <div class="col-2">{{task.status}}</div>
      </div>
    {%  endfor %}


{% endblock %}