{% extends 'index.html' %}

{% block hr_all %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Участники</h1>
        <a href="/adduser/">
            <button type="button" class="btn btn-primary">Добавить участника</button>
        </a>
        </div>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Должность</th>
                <th scope="col">Телефон</th>
                <th scope="col">Почта</th>
                <th scope="col">Роль в проекте</th>
                <th scope="col">Занятость</th>
                <th scope="col">Проект</th>
                <th scope="col">Другое</th>

            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>


                    <td>
                        <a href="/upduser/{{ user.pk }}/" class="card-link">
                            {{ user.first_name }}
                        </a>
                    </td>
                    <td>
                        <a href="/upduser/{{ user.pk }}/" class="card-link">
                            {{ user.last_name }}
                        </a>
                    </td>
                    <td>
                        <a href="/upduser/{{ user.pk }}/" class="card-link">
                            {{ user.job }}
                        </a>
                        </td>
                    <td>
                        <a href="/upduser/{{ user.pk }}/" class="card-link">
                            {{ user.phone }}
                        </a>
                    </td>
                    <td>
                        <a href="/upduser/{{ user.pk }}/" class="card-link">
                            {{ user.email }}
                        </a>
                    </td>
                    <td>
                        <a href="/upduser/{{ user.pk }}/" class="card-link">
                            {{ user.get_project_role_display }}
                        </a>
                    </td>
                    <td>
                        <a href="/upduser/{{ user.pk }}/" class="card-link">
                            {{ user.occupation }}
                        </a>
                    </td>
                    <td>
                        <a href="/upduser/{{ user.pk }}/" class="card-link">
                            {{ user.project }}
                        </a>
                    </td>
                    <td>
                        <a href="/upduser/{{ user.pk }}/" class="card-link">
                            {{ user.other }}
                        </a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}