
{% extends 'index.html' %}

{% block project_dashboard %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h1">{{ project.name }}</h1>
    </div>

    <a href="#" class="card-link">Устав проекта</a>

    <a href="#" class="card-link">Объем работ</a>

    <a href="#" class="card-link">Команда проекта</a>

    <a href="#" class="card-link">Сетевая диаграмма</a>

    <a href="#" class="card-link">Диаграмма Ганта</a>

    <a href="#" class="card-link">Оценка времени</a>

    <a href="#" class="card-link">Бюджет</a>

    <a href="#" class="card-link">Оценка качества, стандартов и процессов</a>

    <a href="#" class="card-link">RASI матрица</a>

    <a href="#" class="card-link">Риск-анализ</a>

    <a href="#" class="card-link">Оценка закупок</a>

    <a href="#" class="card-link">План коммуникаций</a>

    <a href="#" class="card-link">Контроль изменений</a>


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h2 class="h2">Перечень задач</h2>
    </div>

{% endblock %}