{% extends 'index.html' %}

{% block tasks %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Задачи</h1>
        <a href="/addtask/">
        <button type="button" class="btn btn-primary">Добавить задачу</button>
        </a>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">WBS Код</th>
                <th scope="col">Тип</th>
                <th scope="col">Задача</th>
                <th scope="col">Старт</th>
                <th scope="col">Финиш</th>
                <th scope="col">Исполнитель</th>
                <th scope="col">Статус</th>
                <th scope="col">Предыдущая задача</th>
                <th scope="col">Проект</th>
            </tr>
        </thead>
        <tbody>

            {% for task in tasks %}
                <tr>
{#                    <th scope="row">#}
                        <td>
                            <a href="/updtask/{{ task.pk }}/" class="card-link">
                                {{ task.wbs_code }}
                            </a>
                        </td>
                        <td>
                            <a href="/updtask/{{ task.pk }}/" class="card-link">
                                {{ task.get_task_type_display }}
                            </a>
                        </td>
                        <td>
                            <a href="/updtask/{{ task.pk }}/" class="card-link">
                                {{ task.name }}
                            </a>
                        </td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.end_date }}</td>
                        <td>{{ task.responsible }}</td>
                        <td>{{ task.get_status_display }}</td>
                        <td>

                                {% for rel in tasksrel %}
                                    {% if rel.successor.id == task.id %}
                                        <a href="/upd_rel_task/{{ rel.pk }}/" class="card-link">
                                            {{ rel.predecessors.name }}<br>
                                        </a>
                                    {% endif %}
                                {% endfor %}

                            <a href="/new_rel_task/{{ task.pk }}/" class="card-link">
                                <p>Добавить связь</p>
                            </a>

                        </td>
                        <td>{{ task.project }}</td>

                    </a>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}